doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Сборка
		link(rel="stylesheet", href="./css/style.min.css")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
	body 

	 

		script(src="../js/main.js", type="module") 
		script(src="../js/main.min.js", type="module" ) 
		script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js") 
